@import url(reset.css);

body {
    font: normal 400 1rem "Poppins", sans-serif;
}

header {
    background-color: var(--BG-COLOR-2);
    width: clamp(500px, 100vw, 100%);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav .logo {
    width: clamp(7rem, 16vw, 28rem);
    height: auto;
    margin-left: 100px;
}

header nav .hamburger {
    position: absolute;
    width: 50px;
    height: 50px;
    display: none;
}

header nav ul {
    float: right;
}

header nav ul .back-icon {
    display: none;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 1rem;
}

header nav ul li a:any-link  {
    text-decoration: none;
    font-size: clamp(15px, 1.1vw, 30px);
    display: block;
    padding: 1rem 2rem; 
    color: #D7B077;
}

header nav ul li a:hover, 
header nav ul li a:focus {
    color: #D7B077BB;
}

header nav ul li:last-child a {
    margin-right: 100px;
}


@media (max-width: 1600px) {
    header nav ul li:last-child a {
        margin-right: 20px;
    }

    header nav .logo {
        margin-left: 50px;
    }
}

@media (max-width: 1050px) {
    header nav .logo {
        padding-block: 10px;
        width: 200px;
    }

    header nav ul li {
        margin-left: 0.5rem;
    }

    header nav ul li a:any-link {
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 768px) {
    header {
        padding-block: 10px;
    }

    header nav .hamburger {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        cursor: pointer;
        top: 50px;
        left: clamp(480px, 89vw, 900px);
        z-index: 100;
    }

    header nav ul {
        position: fixed;
        top: 0;
        width: 35%;
        left: clamp(360px, 65vw, 500px);
        height: 100%;
        background-color: var(--BG-COLOR-2);
        z-index: -11;   
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        display: none;
    }

    header nav ul .back-icon {
        display: block; 
        width: 45px;
        height: 45px;
        margin-left: clamp(125px, 65%, 70%);
        margin-block: clamp(30px, 6.5vw, 50px);
    }

    header nav ul li a:any-link {
        font-size: clamp(20px, 3vw, 30px);
        text-align: center;
        margin-bottom: 3rem
    }

    header nav ul li:last-of-type a {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    header {
        width: clamp(550px, 100vw, 100%);
    }

    header nav .logo {
        width: 130px;
        margin-left: 25px;
    }

    header nav .hamburger {
        top: 35px;
    }
}

@media (max-width: 500px) {
    header{
        width: 100%;
        }

    header nav {
        width: 100%;
        height: 80%;
    }

    header nav .logo {
        width: 25%;
        height: 50%;
    }

    header nav .hamburger {
        left: calc(100% - 13%);
        width: 7%;
        height: 7%;
        top: auto;
    }

    header nav ul {
        position: fixed;
        top: 0;
        width: 50vw;
        left: calc(100% - 50%);
    }

    header nav ul .back-icon {
        display: block; 
        width: 10vw;
        height: 10vw;
        margin-left: calc(100% - 15vw);
        margin-block: 7vw;
        outline: none;
    }

    header nav ul li a:any-link {
        font-size: 4vw;
        margin-bottom: 1rem;
    }
}