.services {
    position: relative;
    top: 89vh;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    width: 100%;
    height: 650px;
    background-color: #FFF;
}

.services .spa {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.services .spa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/spa.jpg) right/cover no-repeat;
    filter: saturate(250%) brightness(70%) contrast(90%);
    z-index: 0;
}

.services .spa .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 120px;
    height: 120px;
}

.services .spa div.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

.services .spa img {
    width: 90px;
    height: 90px;
    position: relative;
}

.services .coffee {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.services .coffee::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/coffee.avif) center/cover no-repeat;
    filter: saturate(250%) brightness(60%) contrast(100%);
    z-index: 0;
}

.services .restaurant {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.services .restaurant::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/restaurant.jpg) center/cover no-repeat;
    filter: saturate(200%) brightness(80%) contrast(100%);
    z-index: 0;
}

.services .spa img,
.services .spa h3,
.services .coffee img,
.services .coffee h3,
.services .restaurant img,
.services .restaurant h3 {
    z-index: 100;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    letter-spacing: 0.1rem;
    text-shadow: 
    -1px -1px 3px #D7B077,
    1px -1px 3px #D7B077,
    -1px 1px 3px #D7B077,
    1px 1px 3px #D7B077;
    filter: saturate(250%);
}

/* .circle {
    background-color: black;
    border-radius: 50px;
} */